html{
    margin: 0 120px;
    background-color:rgb(234, 232, 230);
    font-size: 1.125rem;
}
nav{
    text-align: center;
    padding: 25px 25px;
    font-size: 1.25rem;
}
nav a{
    padding: 20px;
}

#intro{
    background-color: rgb(244, 241, 237);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    border-bottom: 5px solid rgb(24, 17, 17);
}

#intro h2{
    font-size: 2.5rem;
    font-family: "Lucida Console";
    font-style: italic;
    margin-right: 160px;

}
#intro img{
    max-width: auto;
    max-height: 300px;  
}

#about{
    border-bottom: 5px solid;
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 5px solid black;
}

#about p{
    margin-left: 10px;
    line-height: normal;
}

#employment-history{
    border-bottom: 5px solid black;
}
.employment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 300px;
    margin-left: 50px;
}

.employment img{
    height: 150px;
    width: 200px;
}

#qualifications{
    border-bottom: 5px solid black;
    padding: 40px 0;
}